<div class="col-10 offset-1" about>
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://seansinger.netlify.com/">Sean Singer</a>.  Sean is a student in the University of Arizona Coding Bootcamp.  This quote generator was one of the first web apps he created.  He hopes you enjoy it.  Please add an inspirational sports quote to share with all the other users.
  </p>
  <br />
  <p>
    Sean has successfully made it through the first week of bootcamp and looks forward to continued success.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sean.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sean Singer</h2>
      <br />
      <p>
        Sean Singer is a student web developer with many years experience as a manufacuring engineer and manager at Intel, a semiconductor manufacturer.  The last three years Sean has been a manager at the Grifols Corporation, a pharmaceutical manufacturer.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />