<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  <hype>Here's the <u>best unsolicited inspirational sports quotes</u> you can get!<hype>
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />